In [1]:
1+1

2

In [2]:
print("Hello world")

Hello world

In [3]:
age=32
if age>30:
    print(age)

32

In [4]:
age=20
name= "Bharti"
is_student= True

print("age", age)
print("name", name)
print(is_student)

age 20
name Bharti
True

In [5]:
age=20
print(type(age))


age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
20
<class 'str'>

In [9]:
age="25"
print(age)
print(type(int(age)))

25
<class 'int'>

In [12]:
height=5.11
type(height)

float(int(height))

5.0

In [13]:
# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 79.0
Difference: -33.0
Product: 1288.0
Quotient: 0.4107142857142857

In [15]:
a=10
b=90

type(a==b)

bool

In [20]:
# Arithmetic operation
a = 10
b = 5

add_result = a + b  # addition
sub_result = a - b  # subtraction
mult_result = a * b  # multiplication
div_result = a / b  # division
floor_div_result = a // b  # floor division
modulus_result = a % b  # modulus operation
exponent_result = a ** b  # Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [39]:
## CALCULATOE USING ELIF STATEMENTS
## SIMPLE CALCULATOR PROGRAM
## TAKE USER INPUT

num1= float(input("Enter the number"))
num2= float(input("Enter the second number"))
operation = (input("Select one from the {+,-,*,%,/}"))

# Perform the required operations

if operation == '+':
    result = num1+ num2
elif operation == '-':
     result = num1+ num2
elif operation == '*':
     result = num1 * num2
elif operation == '%' :
    result = num1 % num2  
elif operation == '/':
     if num2 != 0:                   ## num2 if get zero than it will crash the program
            result= num1/num2
     else:
        result= "Error! Division by zero"
else:
     result= "Invalid operator"

print("Result",result)

Result 123.0

In [31]:
## LEAP YEAR NESTED LOOP

year=int(input("Enter the Number"))
     
if year%4==0:
          if year%100:
                  if year%400:
                         print ("Great this is a LEAP YEAR")
                  else:
                     print("this is not a leap year")
          else:
                 print("THis is not a leap year")           
else:
     print("it's definitely a leap year")

THis is not a leap year

In [29]:
##NESTED LOOP
## YOU CAN WRITE MULTIPLE STATEMENT INSIDE IF, ELIF AND ELSE STATEMENT

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
          print("The number is even")
    else:
         print("The number is odd")
else:
     print("The number is zero or negative")

The number is positive
The number is odd

In [24]:
##ELIF

age=23

if age<= 18:
    print("you are not allowed to enter club")
elif age>=23:
    print("you can enter , baby")
else:
    print("you can just sit at your home and play games")

you can enter , baby

In [22]:
##ELSE STATEMENT

LOVE=10

if LOVE>=10:
    print("YOURE THE ONE")
else:
    print("I DONT WANT YOU")

YOURE THE ONE

In [21]:
##IF STATEMENT

age=20

if age>=20:
    print("you are 18 above")

you are 18 above

In [16]:
name="kartik"
print(name)
print(type(name))

kartik
<class 'str'>

In [40]:
## let's do loop in MORE DETAILS (RANGE, STRING)

## RANGE

range(5)

range(0, 5)

In [41]:
for i in range (5):
    print(i)

0
1
2
3
4

In [43]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [45]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [46]:
## for reversing the above one 

for i in range (10,1,-2):
    print(i)

10
8
6
4
2

In [47]:
 ## for STRINGS IN LOOP

str= " Bharti Insan"
for i in str:
    print(i)

B
h
a
r
t
i

I
n
s
a
n

In [48]:
#WHILE LOOP

count=0

while count <5:
    print(count)
    count=count+1

0
1
2
3
4

In [49]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [50]:
## LOOP CONTROL STATEMENTS
#BREAK STATEMENTS

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## CONTINUE STATEMENTS
 #it will skip the current iteration when condition is there and prints opposite of it
  
for i in range(10):     #printing odd numbers
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
# PASS STATEMENTS

for i in range(5):
    if i==3:                            #uneccesaary interuption by saying pass statement
        print ("the number is", i )     # a null statement (no effect)c
        pass
    print (i)

0
1
2
the number is 3
3
4

In [56]:
## NESTED LOOP
for i in range(3):
   for j in range(2):
      print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [59]:
#Example of sum of first N natural number using a while loop
#while loop

n=10
sum=0
count=1

while count<=n:
     sum = sum + count
     count= count+1

print("Sum of first 10 natural number:", sum)

Sum of first 10 natural number: 55

In [ ]:
## Alternative code for above adding natural numbers in loop
n=10
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [72]:
## Prime numbers printing between 1 to 100

for num in range (1, 101):
    if num > 1:
       for i in range (2, num):
            if num % i == 0:
                break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [73]:
## list 
lst=[]
print(type(lst))

<class 'list'>

In [74]:
names=["bharti","krish", 1,2,3,4]
print(names)

['bharti', 'krish', 1, 2, 3, 4]

In [76]:
mixed_list=[1,"jojo", 3.14, True]
print(mixed_list)

[1, 'jojo', 3.14, True]

In [77]:
#ACCESSING LIST ELEMENTS

fruits= ["apple","bannana","cherry","kiwi","guava"]

In [78]:
fruits[0]

'apple'

In [81]:
print(fruits[3])
print(fruits[-2])

kiwi
kiwi

In [82]:
print(fruits[1:])

['bannana', 'cherry', 'kiwi', 'guava']

In [83]:
print(fruits[1:2])

['bannana']

In [85]:
print(fruits[1:3])

['bannana', 'cherry']

In [86]:
print(fruits[0:3])

['apple', 'bannana', 'cherry']

In [87]:
print(fruits[-1:2])

[]

In [ ]:
print(fruits[-1:-3]) ## skip negative indexing abhi

[]

In [89]:
## MODIFYING INDEX
fruits

['apple', 'bannana', 'cherry', 'kiwi', 'guava']

In [91]:
fruits[1]= "Watermelon"
print(fruits)

['apple', 'Watermelon', 'cherry', 'kiwi', 'guava']

In [92]:
fruits[1:]

['Watermelon', 'cherry', 'kiwi', 'guava']

In [95]:
fruits[1:]= "Watermelon"
fruits

['apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [100]:
## List Methods


fruits= ["apple","bannana","cherry","kiwi","guava"]

In [101]:

fruits.append("orange")
print(fruits)

['apple', 'bannana', 'cherry', 'kiwi', 'guava', 'orange']

In [102]:
#insert a value randomly in list

fruits.insert(1, "watermelon")
print(fruits)

['apple', 'watermelon', 'bannana', 'cherry', 'kiwi', 'guava', 'orange']

In [107]:
fruits.remove ("cherry")
print(fruits)

['apple', 'watermelon', 'kiwi', 'guava', 'orange']

In [108]:
# Remove and return the last

popped_fruits= fruits.pop()
print(popped_fruits)
print (fruits)

orange
['apple', 'watermelon', 'kiwi', 'guava']

In [110]:
 #Index printing of that elements

index= fruits.index ("kiwi")
print(index)

2

In [119]:
fruits=['apple', 'watermelon', 'kiwi', 'guava']

In [120]:
fruits.insert (2,"guava")
print(fruits.count("guava"))
print (fruits)

2
['apple', 'watermelon', 'guava', 'kiwi', 'guava']

In [123]:
fruits.sort()
print (fruits)

['apple', 'guava', 'guava', 'kiwi', 'watermelon']

In [127]:
fruits.reverse()

In [128]:
fruits

['watermelon', 'kiwi', 'guava', 'guava', 'apple']

In [129]:
fruits.clear()

In [130]:
fruits

[]

In [134]:
## ITERATING OVER LIST

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [136]:
## ITERATING WITH INDEX

for index,number in enumerate(numbers):
                 print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
## LIST COMPREHEND
lst=[]
for x in range(10):
    lst.append(x**2)  ##  basically it is squaring the each number 0 to 9

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [140]:
#alternative
[x**2 for x in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [141]:
#BASIC LIST COMPREHENSION

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#How it works:

# lst = []
# Starts with an empty list.

# for i in range(10):
# Loops through numbers from 0 to 9.

# if i % 2 == 0:
# Checks if the number is even (divides by 2 with no remainder).

# lst.append(i)
# If the number is even, it adds (append) it to the list.

# print(lst)
# Prints the final list of even numbers.

# Output:
# [0, 2, 4, 6, 8]

# Summary:
# It prints all even numbers between 0 and 9 by checking if each number is divisible by 2.

In [143]:
lst= []
for i in range (10):
    if i%2 == 0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [144]:
#alternative

even_numbers= [num for num in range(10) if num%2==0 ]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])    # prints elements from index 2 to 4 (3rd to 5th element): [3, 4, 5]
print(numbers[:5])     # prints elements from start to index 4 (1st to 5th element): [1, 2, 3, 4, 5]
print(numbers[5:])     # prints elements from index 5 to end (6th to last element): [6, 7, 8, 9, 10]
print(numbers[::2])    # prints every 2nd element (step 2): [1, 3, 5, 7, 9]
print(numbers[::-1])   # prints the list in reverse order: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Summary:
# These are examples of list slicing in Python, which lets you select parts of a list using [start:stop:step].
# The print statements show different ways to get and display parts of the list.

In [133]:
## Slicing Methods

numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [149]:
#NESTED LIST COMPREHENSION

# EXPRESSION FOR ITEM 1 IN ITERABLE1 FOR ITEM2 IN ITERABLE2

lst1 = [1,2,3,4]
lst2 = ['a', 'b', 'c' , 'd']

pair = [[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [151]:
##LIST COMPREHENSION WITH FUNCTION CELLS

words=["hello","world", "python", "list", "comprehension"]
lenghts = [len(word) for word in words]
print (lenghts)

[5, 5, 6, 4, 13]

In [ ]:
# This code makes a list of the lengths of each word in the words list.

# How it works:

# words = ["hello", "world", "python", "list", "comprehension"]
# This is a list of words.

# lenghts = [len(word) for word in words]
# This is a list comprehension.

# For each word in the words list,
# len(word) finds how many letters are in that word,
# It puts that number into the new list lenghts.
# print(lenghts)
# Prints the list of word lengths.

# Output:
# [5, 5, 6, 4, 13]

# Summary:
# It prints a list showing how many letters are in each word from the original list.